@import "tailwindcss";

@theme {
  --color-brand-primary: #2C5CF2;
  --color-surface-white: #ffffff;
  --color-surface-bg: #fafbfc;
  --color-brand-accent: #dfd8ff;

  --font-tkt: "tkt", ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: "tkt";
  src: url("/fonts/TKT-REGULAR.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "tkt";
  src: url("/fonts/TKT-MEDIUM.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* globals.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(var(--brand-primary-rgb), 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6; /* ან შენი ლურჯი ფერი */
  border-radius: 10px;
}