@import "tailwindcss";

@theme {
  --color-brand-primary: #2c5cf2;
  --color-surface-white: #ffffff;
  --color-surface-bg: #fafbfc;
  --color-brand-accent: #dfd8ff;

  --font-tkt: "tkt", ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: "tkt";
  src: url("/fonts/TKT-REGULAR.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "tkt";
  src: url("/fonts/TKT-MEDIUM.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* globals.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(var(--brand-primary-rgb), 0.1);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3b82f6;
  border-radius: 10px;
}

/* @keyframes softPulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
}

.disabled-link {
  position: relative;
  opacity: 1;
  pointer-events: none;
  user-select: none;
  cursor: not-allowed;
  background-color: #f1f5f9 !important;
  color: #6973816c !important;
  border: none !important;
  overflow: hidden;
  z-index: 1;
}

.disabled-link::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(20px);
  background-color: rgba(241, 245, 249, 0.2);
  z-index: 9998;
}

.disabled-link::after {
  content: "მალე დაგვემატება";
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  color: #3b82f6;
  font-weight: bold;
  font-size: 60px;
  filter: none !important;
  animation: softPulse 2s infinite ease-in-out;
} */
