@import "tailwindcss";

@theme {
  --color-brand-primary: #4318ff;
  --color-surface-white: #ffffff;
  --color-surface-bg: #fafbfc;
  --color-brand-accent: #dfd8ff;

  --font-tkt: "tkt", ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: "tkt";
  src: url("/fonts/TKT-REGULAR.TTF") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "tkt";
  src: url("/fonts/TKT-MEDIUM.TTF") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
